<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Template</display-name>
    <description>Template web.xml for the exam</description>

    <!-- Servlets included in the project -->

    <servlet>
        <servlet-name>Richiesta</servlet-name>
        <servlet-class>servlets.Richiesta</servlet-class>        
    </servlet>
    <servlet-mapping>
        <servlet-name>Richiesta</servlet-name>
        <url-pattern>/richiesta</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cambiamenti</servlet-name>
        <servlet-class>servlets.Cambiamenti</servlet-class>        
    </servlet>
    <servlet-mapping>
        <servlet-name>Cambiamenti</servlet-name>
        <url-pattern>/cambiamenti</url-pattern>
    </servlet-mapping>

	<!-- Welcome pages -->
	
	<welcome-file-list>
		<welcome-file>richiestaLibri.html</welcome-file>
	</welcome-file-list>
		
	<!-- Handle exceptions and errors -->
	
	<error-page>
		<error-code>404</error-code>
		<location>/errors/notfound.html</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/errors/exception.html</location>
	</error-page>
		 
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/errors/failure.jsp</location>
	</error-page>

</web-app>
